body{
    border: 1px solid red;
     height: 1000px;
}


#div1{
    background-color: blueviolet;
    height: 20%;
    width: 90%;
    max-width: 500px;
    max-height: 300px;
    /* min-width: ; */
    /* min-height: ; */
}