img{
    border: 1px solid red;
    width: 500px;
    height: 400px;
    object-fit: contain;
    /* object-position: top left; */
    /* object-position: top right; */
    object-position:  bottom right;


}