#color-box{
    background-color: greenyellow;
    height: 200px;
    width: 500px;
    margin: 20px;
    /* opacity: 0.5 */
    ;
}
#red-box{
    height: 300px;
    width: 200px;
    background-color: red;
    margin-top: -100px;
    opacity: 0.5;

}